USE [PruebaSD]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/11/2025 11:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[usuId] [int] NOT NULL,
	[nombre] [varchar](max) NULL,
	[apellido] [nvarchar](max) NULL,
	[cargo] [nchar](10) NULL,
	[salario] [nchar](10) NULL,
	[departamento] [nchar](10) NULL,
	[fechaDecontratacion] [nchar](10) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[usuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[User] ([usuId], [nombre], [apellido], [cargo], [salario], [departamento], [fechaDecontratacion]) VALUES (2, N'Ana maria', N'López rodas', N'Supervisor', N'3000000   ', N'Ventas    ', N'10-10-2025')
INSERT [dbo].[User] ([usuId], [nombre], [apellido], [cargo], [salario], [departamento], [fechaDecontratacion]) VALUES (3, N'Luis', N'Martínez', N'Asesor    ', N'2000000   ', N'Ventas    ', N'10-10-2025')
INSERT [dbo].[User] ([usuId], [nombre], [apellido], [cargo], [salario], [departamento], [fechaDecontratacion]) VALUES (4, N'Sofía', N'Rodríguez', N'Asesor    ', N'2000000   ', N'Ventas    ', N'11-07-2025')
GO
